@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Della Respira', sans-serif;
    max-height: 100%;
}

.content {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(back.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.logo {
    width: 120px;
    cursor: pointer;
    margin: 0 2vw;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(#ffbbd1 30%, #FFCCDD 60%, #ffd9e6 90%, transparent 100%);
    display: flex;
    justify-content: space-around;
    padding: 15px 0; 
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin: 0 3vw;
    font-size: 24px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #4B3AE9;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #4B3AE9;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}


#florist{
    border: 10px solid #FFCCDD;
    max-height: 300px;
    height: 40vw;
    width: auto; 
}

.welcome {
    width: 100%;
    position: absolute;
    top: 225px;
    padding-bottom: 100px;
    text-align: center;
    color: #FFCCDD;
}

.welcome h1{
    font-family: 'Della Respira', sans-serif;
    font-size: 50px;
}

.welcome p{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: justify;
    color: #FFCCDD;
    padding: 0 60px;
    margin: 0 auto;
    max-width: 500px;
}

.intro{
    width: 100%;
    position: absolute;
    bottom: 10%;
}

.intro p{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: justify;
    color: #FFCCDD;
    padding: 0 60px;
    margin: 0 auto;
    max-width: 500px;
}

.store-description{
    width: 100%;
    position: absolute;
    top: 225px;
    padding-bottom: 80px;
    text-align: center;
    color: #FFCCDD;
}

.store-description h1{
    font-family: 'Della Respira', sans-serif;
    font-size: 40px;
}

.store-description p{
    width: 70%;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: justify; 
    margin: 0 auto;
    color: #FFCCDD;
    max-width: 500px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.picture {
    padding: 3vw;
    color: #FFCCDD;
    max-width: 250px;
}

.picture figcaption {
    text-align: center;
    word-spacing: 0.5em
}

@media (max-height: 950px) {
    .content{
        height: 950px;
    } 
}

@media (max-width: 1850px)  {
    .store .content{
        height: 100%;
        padding-bottom: 1100px;
    } 
    .store .store-description h1{
        position: relative;
    }
}  

@media (max-width: 950px)  {
    .store .content{
        height: 100%;
        padding-bottom: 1250px;
    } 
    .store .store-description h1{
        position: relative;
    }
}  

@media (max-width: 600px) {
    .flexbox{
      flex-direction: picture;
      align-items: center;
    }
    .store .content{
        height: 100%;
        padding-bottom: 1750px;
    }
    .store .store-description h1{
        position: relative;
    }
    .navbar .logo{
        width:100px;
    }
    .navbar ul li {
        font-size: 20px;
    }
    .welcome{
        top: 180px;
    }
} 

.social-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    background-color: #FFCCDD; 
    display: flex;
    justify-content: center;
    padding: 15px 0; 
}

.social-navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.social-navbar ul li {
    margin: 0 1.2vw;
    font-size: 16px;
    position: relative;

}

.social-navbar ul li a {
    text-decoration: none;
    color: #4B3AE9;
}

.social-navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #4B3AE9;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.social-navbar ul li:hover::after {
    width: 100%;
}
